<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Backend about cms blog">
        <meta name="keywords" content="HTML,CSS,XML,JavaScript, nodejs, blog, cms">
        <meta name="author" content="Azis">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Admin{% endblock %}</title>
    </head>
    <body>
        {% block content %}

        {% endblock %}
    </body>
</html>