body {
    background-color: lightgray;
    font-size: 0.875rem;
}

.container-table{
    background-color: white;
    margin: 10px;
    padding: 30px;
}

.title{
    margin-bottom: 10px;
}

.showing-data-table .dataTables_info {
    text-align: right;
}

.text-center-pagination .dataTables_paginate {
    text-align: center!important;
}